body {
  background: #f9e933;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
  overflow: auto;
}

header h1 {
  float: left;
  width: 570px;
}

header nav {
  float: right;
  width: 285px;
}

main {
  background: white;
  overflow: auto;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

main p{
  padding-bottom: 1em;
}

h2{
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 125%;
  padding-top: .5em;
  padding-bottom: .5em;
}

h3{
  font-family: arial, sans-serif;
  font-weight: bold;
  padding-bottom: .5em;
}

footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}